[submodule "Calclavia-Library"]
	path = Calclavia-Library
	url = https://calclavia@bitbucket.org/calclavia/calclavia-library.git
[submodule "Universal-Electricity"]
	path = Universal-Electricity
	url = https://github.com/Universal-Electricity/Universal-Electricity
